{% extends "base.html" %}
{% block content %}
    <form action="{{url_for('home')}}" method="POST">
        <div class="form-group">
            <label for="task-text">New task:</label>
            <input type="text" name="task-text" id="task-text">
            <button type="submit">Add</button>
        </div>
    </form>

    {% for task in tasks %}
        <div class="task-box">
            <p style="text-decoration: {% if task.completed %}line-through{% else %}none{% endif %};">
                {{task.text}}
            </p>
            <div class="task-action">
                <form action="{{url_for('toggle_task', task_id=task.id)}}" method="POST">
                    {% if task.completed %}
                        <button type="submit">Mark as uncompleted</button>
                    {% else %}
                        <button type="submit">Mark as completed</button>
                    {% endif %}
                </form>
                <form action="{{url_for('delete_task', task_id=task.id)}}" method="POST">
                        <button type="submit">Delete</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>Task list is empty!</p>
    {% endfor %}
{% endblock %}